main{
  height: 100vh;
  padding: 5vh 5vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loading{
  margin-top:100px;
  font-size: 24px;
  color: rgba(0, 0, 0, .7)
}

.ship-tile{
  background-color: rgb(36, 142, 199);
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, .8);
  color:white;
  font-size: 4vh;
  height: 150px;
  text-align: center;
  width: 20vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship-tile:hover{
  box-shadow: inset 0 0 7px rgba(0, 0, 0, .8);
  filter:brightness(.9);
}

a{
  text-decoration: none;
}